[2019-02-10 19:23] tesseralis opened #1 "[OLD] Legacy Arabic Translation Progress"
## Maintainer List

* @asantarissy
* @iRayan7
* @aladin002dz
* @Fcmam5
* @mohshbool
* @3imed-jaberi
* @splimter

## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. **Please take only one page at a time**.
3. Clone this repo, translate your page, an

[2019-02-12 02:28] tesseralis commented on #1
@22mahmoud, @SaifAsad, @Emmanuel-Melon, @iRayan7 how's it going? Do you have any questions or need any help getting started?

[2019-02-12 08:10] fawzisf commented on #1
I would love to help! i see no pages are currently taken so i will start by the home page.

[2019-02-12 10:56] Emmanuel-Melon commented on #1
Yes, I do. Which repository should I clone and push changes to? Is it [https://github.com/reactjs/ar.reactjs.org](url) or [https://github.com/reactjs/reactjs.org](url)?

[2019-02-12 10:58] fawzisf commented on #1
@Emmanuel-Melon This one.

[2019-02-12 11:07] Emmanuel-Melon commented on #1
Thanks, I have just cloned it. BTW, have you started working on the home page?

[2019-02-12 11:08] fawzisf commented on #1
No, but willing to start today.

[2019-02-12 11:09] Emmanuel-Melon commented on #1
Make a pull request so I could attach your name to the page you're editing.

[2019-02-12 11:27] fawzisf commented on #1
@tesseralis i think we will need some help as well to transform the website to RTL

[2019-02-12 18:37] fawzisf opened #5 "Dealing with RTL"
we need to discuss if we need to add RTL support to the docs website.

[2019-02-12 20:53] tesseralis commented on #1
@fawzisf I'll look into it! For now, maybe looking at what the Persian translation is doing might be useful: https://github.com/reactjs/fa.reactjs.org/pull/7/files

[2019-02-13 17:09] IsraaMoqbel commented on #1
Hey,
I'm interested to contribute to this, I'll do the `Hello world` page.

[2019-02-14 22:32] omar-dulaimi commented on #1
Can I join you guys please?
BTW "unit testing" = "اختبار الوحدات"

[2019-02-14 23:07] 22mahmoud commented on #1
Hey @IsraaMoqbel , Please open a PR, So I could assign you to this page

[2019-02-15 16:18] asantarissy commented on #5
Hello @fawzisf I agree with you, I think we should start working on the RTL before we start translating anything, I did a quick scan on pages and components and I think I have a solution for it, I'll create a PR today for sure.

[2019-02-15 18:41] iRayan7 commented on #5
Hi guys,
I think we should focus on the translation first, since this is a concern we share with the translators of Hebrew and Persia languages.
Also at the slack group we have a channel for rtl with the translators of those languages, you should discuss it there with them 👍

[2019-02-15 19:10] asantarissy commented on #5
Thanks @iRayan7 and yes I agree with you, but it's way better for us to translate pages and see what we're doing as a final result.

Please check my PR #8 I tried to cover all pages and components, please check it out and let me know your thoughts.

Cheers 😄

[2019-02-15 20:20] asantarissy commented on #1
Thanks @omar-dulaimi, please read [The Contribution Guidelines](https://github.com/reactjs/ar.reactjs.org#contributing), pick a page to translate and open a PR so I can assign you to it. enjoy!

الله حيو النشمي 😄

[2019-02-15 22:13] Emmanuel-Melon commented on #5
Link to the slack channel please

[2019-02-15 22:16] asantarissy commented on #5
Here you go: [Slack Channel](https://github.com/orgs/reactjs/teams/reactjs-org-arabic-translation/discussions/1)

[2019-02-15 22:28] omar-dulaimi commented on #1
Thanks man @tesseralis , I have read them all just a while ago. I'm going to pick 'rendering elements' if I may.
الله يحييك  😁

[2019-02-15 23:19] asantarissy commented on #1
That's great @omar-dulaimi, please create a PR so I can assign you to this page.

[2019-02-16 00:30] omar-dulaimi commented on #1
I just did @asantarissy Thank you.

[2019-02-17 12:15] #5 closed

[2019-02-22 11:57] aladin002dz commented on #1
Salam, Hello everyone,
I think we need to create a **facebook group** for all participants, for discussions, collaborations and sharing tips and experiences, and lead the project to a brilliant result.
Cheers,
Mahfoudh Arous

[2019-02-22 13:11] aladin002dz commented on #1
indeed, I found some useful markdown tags in the project like these:
<h1 dir="rtl">
<p dir="rtl">

[2019-02-22 13:14] aladin002dz commented on #1
indeed, I found some useful markdown tags in the project like these:
<h1 dir="rtl">
<p dir="rtl">
...

[2019-02-22 13:51] asantarissy commented on #1
Thanks @aladin002dz, I sent you a link on messenger to join us on slack.
Also, please check this #8 merged PR for the RTL implementation.

Enjoy.

[2019-02-23 19:48] splimter commented on #1
i'll take **Basics** Lists and Keys

[2019-02-23 19:50] asantarissy commented on #1
That's great @splimter, please create a PR so others won't work on the same page.

Enjoy!

[2019-02-24 19:24] obahareth opened #24 "What Kind of Arabic Should we Use?"
I would like to help with the translation but was wondering what form of Arabic should we choose? Are we going to go with Modern Standard Arabic `العربية الفصحى` or something closer to the accents that people use in their daily speech (going to call it to Colloquial Arabic `العربية العامية`)? I ask this because I and others can help with translating to Colloquial Arabic but our Modern Standard Ara

[2019-02-24 19:54] aladin002dz commented on #24
we can use, for the first version, this translation:
https://wiki.hsoub.com/React

[2019-02-24 21:13] obahareth commented on #24
Are we just going to use it as is for the first version?

[2019-02-24 22:52] a-deeb commented on #1
Hey guys, can I help translate the  \repos\ar.reactjs.org\content\docs\Composition-vs-Inheritance page?

[2019-02-25 00:25] ahmedfarag36 commented on #1
Hello _good_ enthusiastic people;
This idea of improving the Arabic content never left my head so I am so happy to help,
I have been learning react for a while and read many of docs pages.
Ready to translate the tutorial or thinking in react 👍

[2019-02-25 17:46] asantarissy commented on #1
Sure @a-deeb, please do the following:
* [ ] Read this issue
* [ ] Check our [Glossary](https://github.com/reactjs/ar.reactjs.org/wiki/Glossary) and [Style Guide](https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md)
* [ ] Pick a page to translate
* [ ] Create a [PR](https://github.com/reactjs/ar.reactjs.org/pulls)
* [ ] And enjoy! 😄

[2019-02-25 17:50] asantarissy commented on #1
@ahmedfarag36 and we would be more than happy to have you on board.
Read this issue and check our [Glossary](https://github.com/reactjs/ar.reactjs.org/wiki/Glossary) and [Style Guide](https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md), the tutorial page is already taken, maybe you can start on Thinking in React page.

Please create a PR so I can add you here.

Cheers!

[2019-02-25 18:49] asantarissy commented on #24
Thank you @obahareth, yes let's have a first version for now, and then we're definitely going to proofread everything and adjust it accordingly.

[2019-02-28 12:00] awnigharbia commented on #1
Hey 👋,
Am gonna take the `Introducing Hooks` page.

[2019-02-28 12:13] awnigharbia commented on #1
Hey @asantarissy, I don't think `Hooks` word needs to be translated, since it have other definistions in arabic, So I'll keep it as it is in `English` without not confusing to the reader, so they'll know it's a name of a feature added to react and doesn't have a meaning in arabic.

[2019-02-28 12:14] asantarissy commented on #1
Yes I agree with you, and this is what the team suggested.

Great then, enjoy.

[2019-03-02 12:05] hgareeballa commented on #1
Hi
i want to contribute, can someone assign a section to me !?
or i get to chose !?

THanks

[2019-03-03 06:55] asantarissy commented on #1
Welcome @hgareeballa, you can pick a page, please create a PR so I can assign you to it, also don't forget to check our [Glossary](https://github.com/reactjs/ar.reactjs.org/wiki/Glossary) and [Style Guide](https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md)

Enjoy

[2019-03-03 10:21] hgareeballa commented on #1
@asantarissy
i will take //
API Reference
  React
  React.Component

Thanks

[2019-03-03 13:02] asantarissy commented on #1
Great @hgareeballa, please create a "work in progress" PR for this ([steps](https://github.com/reactjs/ar.reactjs.org#contributing)) and use [Hsoub](https://wiki.hsoub.com/React/react_api) as reference for this.

[2019-03-04 14:04] fkanout commented on #24
Could you please mention that you want to rely on https://wiki.hsoub.com/React (as a start) in the contribution guide?

[2019-03-04 14:11] fkanout commented on #1
Hi everyone, I would like to contribute ... well, I've already submitted my PR before seeing this issue 🤷🏼‍♂️ Could you mention this issue in the contribution guide, so no one could miss it?

[2019-03-04 15:32] osamajandali commented on #1
Hello everyone! 👋
I am gonna take `Hooks at a Glance`

[2019-03-13 23:57] ahmedfarag36 commented on #1
Hello maintainers where are you?
I have started to translate the glossary however there is another pull request but I didn't notice since it is available here in the check list.

[2019-03-14 09:20] aladin002dz commented on #1
@asantarissy is our moderator, please ping him on the dedicated slack channel

[2019-03-17 06:28] asantarissy commented on #1
Thank you @fkanout, your PRs are in review, great job 💪🏼

Feel free to pick another page so I can assign it to you in this issue.

[2019-03-17 06:30] asantarissy commented on #1
Sorry @ahmedfarag36 my bad 🙂

Please Pick another page so I can assign you to it here.

[2019-03-17 12:47] fkanout commented on #1
@asantarissy that's great, thank you and @iRayan7 👌🏻

[2019-03-17 19:34] mhmdAljefri commented on #1
Hey I wanna help here. I will take Get Started page @tesseralis

[2019-03-18 04:23] asantarissy commented on #1
That's great @mhmdAljefri, please create a work-in-progress PR so I can assign the page to you, don't forget to check our [Glossary](https://github.com/reactjs/ar.reactjs.org/wiki/Glossary), [Contribution](https://github.com/reactjs/ar.reactjs.org#contributing) and [Style](https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md) Guides

[2019-03-20 04:56] shakesBeardZ commented on #24
@obahareth it's not even an issue to raise I think we all agree as Arabic speakers that formal Arabic is the only Arabic that Arab people can understand, no offense but other accents can't be understood in other countries. take for example me as an Algerian I'll have difficulties fully understanding Egyptian or Saudi accent so the only way is to use formal one like any Arabic book.

[2019-03-20 10:11] obahareth commented on #24
@shakesBeardZ

That is very true, but the same is true with Formal Arabic as well, especially with younger audiences. I was born and raised in Saudi Arabia and I've lived most of my life there but I rarely ever get a chance to speak or write Formal Arabic, and as I mentioned before I know many who are in the same situation, and that number seems to be growing.

My intention was definitely **not**

[2019-03-22 00:07] shakesBeardZ commented on #24
@obahareth that being said , I think we all agree on what Arabic should be used to translate the content of any tech document (got u bro 😉  , I had the same issues with Maghribian scientific books in Arabic) to avoid confusion

[2019-03-24 01:58] ZolfekarAskarieh commented on #1
Hello everyone, I wanna start helping here and I am gonna start working on "State and Lifecycle"

[2019-03-24 19:54] asantarissy commented on #1
Great @ZolfekarAskarieh, please create a work-in-progress pull request so I can assign the page to you, also please go through our [Glossary](https://github.com/reactjs/ar.reactjs.org/wiki/Glossary), [Contribution](https://github.com/reactjs/ar.reactjs.org#contributing) and [Style](https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md) Guides

[2019-03-29 14:41] aminebenkeroum commented on #1
I will take the Error Boundaries page!

[2019-03-29 17:50] asantarissy commented on #1
That's great @aminebenkeroum, I'll assign the page to you, don't forget to go through our [Glossary](https://github.com/reactjs/ar.reactjs.org/wiki/Glossary), [Contribution](https://github.com/reactjs/ar.reactjs.org#contributing) and [Style](https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md) Guides

[2019-03-30 21:29] iron2017 commented on #1
CodeEditor

[2019-03-31 06:31] asantarissy commented on #1
Thanks @iron2017, page assigned 🎉
Please open a work-in-progress PR and check our [Glossary](https://github.com/reactjs/ar.reactjs.org/wiki/Glossary), [Contribution](https://github.com/reactjs/ar.reactjs.org#contributing) and [Style](https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md) Guides

[2019-04-13 12:38] ahmedfarag36 commented on #1
Hello friends, why @splimter is taking too many pages?
If we translate them in parallel it would be more efficient and more convenient for him.
Thanks

[2019-04-13 14:26] splimter commented on #1
@ahmedfarag36 i had time for it, i want to contribute before i get busy with univ stuff.
you can at anytime translate other section :)

[2019-04-21 22:36] ahmedfarag36 commented on #1
Ok @splimter, I appreciate you efforts and now I got the point happy translating :smiley:

[2019-04-22 18:53] splimter commented on #1
@ahmedfarag36 btw am not doing the hard part, thanks to our maintainers <3.

[2019-04-30 09:44] maskeddeveloper commented on #1
I would like to help in the translation to Arabic,
I found that no one has been assigned to FAQ so is it possible for me to help translating ?
I can start with APIs and AJAX and proceed sequentially on each FAQ page :)

[2019-04-30 09:55] iRayan7 commented on #1
Sure!

Thanks, @maskeddeveloper! `AJAX and APIs` page is assigned to you 🎉
Please create a "work in progress" PR for this. Check the [contribution steps](https://github.com/reactjs/ar.reactjs.org#contributing) and use [Hsoub](https://wiki.hsoub.com/React/faq_ajax) as reference.

[2019-05-01 19:01] m1m6 commented on #1
Hey Guys,
I'd like to contribute, and would like to start with ```react-without-jsx```

[2019-05-01 19:29] iRayan7 commented on #1
Hey @m1m6! just assigned `react-without-jsx` to you 🎉
Please create a "work in progress" PR for this. Check the [contribution steps](https://github.com/reactjs/ar.reactjs.org#contributing). Thanks.

[2019-05-02 06:34] ahmedfarag36 commented on #1
Hello everybody,
I will take higher order components
Is it ok @iRayan7

[2019-05-02 11:13] iRayan7 commented on #1
Hi @ahmedfarag36, `Higher-Order Components` is assigned to you 🎉
Please create a "work in progress" PR for this. Check the [contribution steps](https://github.com/reactjs/ar.reactjs.org#contributing). Thanks.

[2019-05-05 00:40] AbdelkhalekESI commented on #1
Hey Guys,
I'd like to contribute, and would like to start with `Typechecking With PropTypes`

[2019-05-09 16:32] AbdelkhalekESI commented on #1
Hi,
I have done with the translation of `typechecking-with-proptypes.md`
PR :  #80

[2019-05-14 03:02] AbdelkhalekESI commented on #1
Hi Guys ,
So i'd like to contribute more and more in this translation so i will work this time on FAQ Section
- `Babel, JSX, and Build Steps`
- `Passing Functions to Components`
I know that you recommend translate just one page but the first one is short .
Thanks

[2019-05-15 02:58] iRayan7 commented on #1
Great @AbdelkhalekESI!
Please make a pull request for each. Thanks.

[2019-05-15 12:18] maskeddeveloper commented on #1
Hello , I've done the faq-ajax,
can i proceed to :
- Component State
- Styling and CSS

Many Thanx

[2019-05-16 01:46] iRayan7 commented on #1
Assigned to you 👍
Please create a draft PR for each one. Thanks.

[2019-05-17 12:54] maskeddeveloper commented on #1
@iRayan7 i've done the 2 pages, please check it , could you please assign me the rest of the FAQ pages :

-   File Structure
-   Versioning Policy
-   Virtual DOM and Internals

Many Thanx

[2019-05-20 02:32] iRayan7 commented on #1
Go for it! 😍
Please create a draft PR for each. Thanks.

[2019-05-22 08:35] 3imed-jaberi commented on #1
Hello Guys,
I would like to help in the translation to Arabic,
I will start with ' Static Type Checking ' page .

[2019-05-22 08:44] aladin002dz commented on #1
Hey! Okay, you can fork, clone create another branch on which you change the title of the the page you booked, and then send the pull request,
please, use this translation:
https://wiki.hsoub.com/React
Happy working,

[2019-05-25 21:24] 3imed-jaberi commented on #1
I'll take 'strict-mode' page .

[2019-06-02 16:49] Fcmam5 commented on #1
Hello!
I would like to help :smile: , may I start with `Optimizing Performance` ?

[2019-06-02 20:26] 3imed-jaberi commented on #1
Welcome @Fcmam5 ..
Okey , you can take this page and please , make sure you use  this translation: https://wiki.hsoub.com/React
and read the Gloassary :
https://github.com/reactjs/ar.reactjs.org/wiki/Glossary ..

Happy working

[2019-06-03 04:32] 3imed-jaberi commented on #1
I'll take 'web-components' and 'uncontrolled-components' pages .

[2019-06-04 04:17] 3imed-jaberi commented on #1
I'll take 'docs/nav.yml'.

[2019-06-07 01:15] Fcmam5 commented on #1
Hello everyone,
I am finished with **Optimizing Performance** (#96).
Can I proceed to `Reconciliation`?

And how about the pages that have been assigned but they became inactive like (#4, #7, #10 ...), what can we do about it?

[2019-06-10 18:28] iRayan7 commented on #1
Thanks, @Fcmam5!
Sure `Reconciliation` has been assigned to you.

For the inactive pages, we will re-assign them once we complete the other unassigned pages.

[2019-06-11 21:38] Fcmam5 commented on #1
As Salam Alikum,
I finished translating **Reconciliation** (#99), and I'd like to continue with:
* Portals
* Render Props

And for sure each of them will be in a seprate PR :nerd_face:

[2019-06-12 17:50] Fcmam5 opened #100 "Use an Arabic font"
As Salam Alikom, Hello everyone :)

I suggest setting an "Arabic-friendly" and a more font.

In my case the fonts look like this (Firefox on Ubuntu, using the default fonts):

![Screenshot from 2019-06-12 19-36-26](https://user-images.githubusercontent.com/9090674/59373498-1a4f1f00-8d4a-11e9-8bc6-79b5df33c419.png)

And for me, it looks a bit ugly.
I suggest setting a better font. If that's possibl

[2019-06-12 18:37] 22mahmoud commented on #100
I like cairo font

[2019-06-13 09:32] 3imed-jaberi commented on #100
You can choose between these fonts :
https://fonts.google.com/?subset=arabic
I like Changa font 😄 ..

[2019-06-16 23:25] maskeddeveloper commented on #100
Yes Cairo font is the best

[2019-06-18 12:51] 3imed-jaberi commented on #1
@Fcmam5 sorry bro , i finish 'Portals' page and i sended a PR 😕 ..

[2019-06-18 12:54] Fcmam5 commented on #1
No worries :) thank you for your contribution :smile: !

[2019-06-18 13:01] 3imed-jaberi commented on #1
Thank you too for your efforts and contribution 🤝

[2019-06-18 13:07] 3imed-jaberi commented on #1
I'll take 'Integrating with Other Libraries' page.

[2019-06-18 14:32] 3imed-jaberi commented on #1
I'll take 'JSX in depth' page too 🤗.

[2019-06-18 14:34] mohshbool commented on #1
I'll take 'Refs and the DOM' page

[2019-06-18 16:02] 3imed-jaberi commented on #1
@tesseralis  @22mahmoud  @Emmanuel-Melon  @iRayan7 @asantarissy @aladin002dz
Please make sure that the people who took the pages and didn't send PR are still contributing 🤔 ‼️ ...
In case of abandonment, please update the list 😁.

[2019-06-23 00:42] Fcmam5 commented on #1
I would like to work on the components section:
- CodeEditor (it's not active anymore)
- CodeExample
- ErrorDecoder
- LayoutFooter
- LayoutHeader
- MarkdownPage

[2019-06-23 01:13] Fcmam5 opened #106 "setup algolia docsearch for ar.reactjs.org and use arabic widget"
We should setup a proper algolia application for [ar.reactjs.org](ar.reactjs.org) with a widget in Arabic.

https://github.com/reactjs/ar.reactjs.org/blob/8c6b8d497a6bc2eda3b2c5b9862c8cfc2b7e383a/src/components/LayoutHeader/DocSearch.js#L26

[2019-06-23 07:47] 3imed-jaberi commented on #1
### Bro , if you needs help i'm with you in this section.. just tell me ❤️🤝🔥

[2019-06-23 20:53] mohshbool commented on #100
I like the Geeza Pro font, couldn't find it on Google Fonts though

[2019-06-23 20:55] mohshbool commented on #1
Just finished refs and the dom (#108). Not sure what's left since the list above isn't, afaik, up-to-date

[2019-06-24 10:22] iRayan7 commented on #106
@tesseralis

[2019-06-25 09:14] iRayan7 commented on #1
Yes, please. One PR would be fine 👍

[2019-06-27 00:22] Fcmam5 opened #112 "Translate *.js files not cited in #1"
Some pages & components are not cited in #1, like:

- [x] 404 page (@3imed-jaberi) #179
- [x] Acknowlegements page (@3imed-jaberi ) #181
- [x] JsxCompiler (@3imed-jaberi ) #178
- [x] Languages page (@3imed-jaberi ) #185
- [x] Versions page (@3imed-jaberi ) #177
- [x] AllBlogPosts (@3imed-jaberi ) #182
- [x] CodepenExample (@3imed-jaberi ) #180
- [x] NavigationFooter (@3imed-jaberi) #184

---

<div

[2019-06-27 00:28] Fcmam5 commented on #1
I will work on:
* How to Contribute
* Community

[2019-06-27 09:18] mohshbool commented on #112
@Fcmam5 if you want some help, just let me know brother 🤝

[2019-06-27 09:22] Fcmam5 commented on #112
That would be great, I guess that we should finish the issues in the first (@iRayan7 what do you think?) issue before. Otherwise yes we can jump into it together :smiley: !

[2019-06-27 09:31] mohshbool commented on #1
I would like to take Virtual DOM and Internals if it's not taken by @maskeddeveloper since there's a strikethrough

[2019-06-27 09:34] mohshbool commented on #112
Of course, that would be better imo but I thought you were gonna start working on them so I just wanted to offer help 😅.

[2019-06-27 09:42] mohshbool commented on #1
I'll also take Warnings. I'll be submitting each file in a pull request of its own

[2019-06-27 13:02] aladin002dz commented on #1
is there any page left, I can help with?

[2019-06-27 16:27] iRayan7 commented on #112
Yes, let us finish the pages on #1 first 👍. Thanks guys!

[2019-06-27 16:28] iRayan7 opened #117 "Translating community section"
**Before you start working**
- Check if the page isn't assigned, and no one commented about it.
- Please comment 👇the page name before you start working on it. To get assigned to it.

Pages:
- [x] Support (@Fcmam5) #113
- [x] Articles (@3imed-jaberi) #140
- [x] Conferences (@3imed-jaberi) #146
- [x] Courses (@moast) #148
- [x] Examples (@mohshbool) #166
- [x] External resources (@3imed-jaberi) #14

[2019-06-27 17:00] iRayan7 commented on #1
It's already been translated by @3imed-jaberi

[2019-06-27 17:02] iRayan7 commented on #1
Hey guys 👋
Please stick with the process of page assignment. You **have to** comment before you start working on it.
Thanks ❤️

[2019-06-27 17:05] iRayan7 commented on #1
These pages are available:

#### Basics
* [ ] Hello World
#### Advanced Guides
* [ ] Higher-Order Components

Please comment before you start working on it 👍

[2019-06-28 10:11] maskeddeveloper commented on #1
@iRayan7 assign me the  Hello World Page

[2019-06-28 10:16] aladin002dz commented on #1
@iRayan7, assign me the "Higher-Order Components" page

[2019-06-28 10:33] atefBB commented on #1
@tesseralis @iRayan7 as discussed https://github.com/reactjs/ar.reactjs.org/pull/4,
@Emmanuel-Melon still working on the PR !

[2019-06-28 14:49] iRayan7 commented on #1
Sure, 👍Open up a new PR, please.

[2019-06-28 14:54] Emmanuel-Melon commented on #1
@atefBB, it's okay, you could work on it. Would you like to do a complete do over or pick up from where I'd left off?

[2019-06-28 23:43] 3imed-jaberi opened #122 "Update Glossary / Methodology of work"
# Glossary 📔
---
## I think that we should update the glossary accurately, as we review all the words and the corresponding translation so as not to fall into conflict ..

# Methodology of work 🛃
---
## Should be identify contributors and provide our own communication platform such as SLACK, DISCORD, TELEGRAM or even MESSENGER ...etc , so that we can communicate in everything ..

[2019-06-29 15:04] iRayan7 commented on #122
Lets do it. We will use this issue to discuss glossary changes 👍

[2019-06-29 16:21] mohshbool commented on #122
I didn't know that there was a Slack room 😅

[2019-06-29 20:07] 3imed-jaberi commented on #122
## Should be update the glossary in the point of ` high-order components `.
## There is a conflict between these two expressions :
  * 1 - **المكونات ذات الترتيب الأعلى**
  * 2 - **مكونات من المرتبة الأعلى**
## ==> I prefer the first expression.

[2019-06-30 05:56] tesseralis commented on #106
Sure! to do this you need to change the [DocSearch API key](https://github.com/reactjs/es.reactjs.org/blob/ed07fa53dc9ab7950e630900f7da3a7c821d63a6/src/components/LayoutHeader/DocSearch.js#L25)

 One of the maintainers needs to [sign up for DocSearch here](https://community.algolia.com/docsearch/#join-docsearch-program)

I don't know how the Arabic widget works but the Algolia person is usually pr

[2019-07-02 14:26] 3imed-jaberi commented on #122
What is the proposed translation for
 * Major
 * Minor
 * Patch

What do you think of [this site](https://semver.org/lang/ar/) as ref. !

[2019-07-02 14:42] mohshbool commented on #122
I would go with
- Major --> رئيسي
- Minor --> ثانوي/فرعي
- Path --> رُقعة/تصحيح

[2019-07-03 07:14] YousefQaisi commented on #117
Articles

[2019-07-03 16:54] 3imed-jaberi commented on #117
Hey @YousefQaisi !
Okay, you can fork, clone create another branch on which you change the title of the the page you booked, and then send the pull request.

Happy working ✌️

[2019-07-03 22:03] #24 closed

[2019-07-03 22:19] Fcmam5 commented on #106
I got the API key for it, I'm gonna submit a PR :)

[2019-07-04 00:10] #106 closed

[2019-07-06 00:15] Fcmam5 opened #130 "Correct translation of the word "Docs""
`Docs` word is translated as `المستندات`, I think that it should be `التوثيق`.
What do you think?

PS: It's also translated as توثيق in [Arabeyes dictionary](https://www.arabeyes.org/techdict:Documentation).

![Screenshot from 2019-07-06 02-09-29](https://user-images.githubusercontent.com/9090674/60748995-020ea080-9f94-11e9-98e5-ed92aff887b5.png)

[2019-07-06 13:20] ahmedkrmn commented on #1
@iRayan7 Hey Rayan, can I be assigned to translate these remaining warning messages:
`legacy-factories`, `refs-must-have-owner`, `special-props`, and `unknown-prop` ?

[2019-07-06 13:26] mohshbool commented on #1
I'm sorry Ahmed but I'm already doing them I just haven't submitted the PRs yet. How about checking the 'Contributing' section?

[2019-07-06 13:31] ahmedkrmn commented on #1
I saw you did `dont-call-proptypes`, `invalid-aria-prop`, and `invalid-hook-call-warning`, but those I am asking for aren't assigned to anyone!

[2019-07-06 13:32] mohshbool commented on #1
I know but I'm doing them as I said in a [comment above](https://github.com/reactjs/ar.reactjs.org/issues/1#issuecomment-506274766)

[2019-07-06 13:40] ahmedkrmn commented on #1
@mohshbool sorry Mohammad, haven't seen your comment.
@iRayan7 Can I take the [Codebase Overview](https://github.com/reactjs/ar.reactjs.org/blob/master/content/docs/codebase-overview.md) page?

[2019-07-06 13:45] mohshbool commented on #1
@ahmedkrmn all is well 😅
You should be able to take "codebase overview", we would be more than happy to have you on board.
Read this issue and check our [Glossary](https://github.com/reactjs/ar.reactjs.org/wiki/Glossary) and [Style Guide](https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md).

Please create a PR so I can add you here.

[2019-07-06 15:32] ahmedkrmn commented on #1
Thanks. The PR is #131.

[2019-07-10 13:30] 3imed-jaberi commented on #130
@Fcmam5 , thanks bro for your issue  but there is already a ISSUE #122 to discuss all changes in the terminology used.

[2019-07-10 13:44] #130 closed

[2019-07-10 13:44] 3imed-jaberi commented on #122
There is a proposal by @Fcmam5 ( #130 )  to amend the translation of **[DOCS](https://ar.reactjs.org/docs/getting-started.html)** from `المستندات` to `التوثيق` ..

[2019-07-10 18:28] mohshbool commented on #122
I would keep it as is, its clearer that way imo

[2019-07-12 01:17] 3imed-jaberi commented on #122
What is the proposed translation for ; `Data-Driven` .. ?

[2019-07-12 01:19] 3imed-jaberi commented on #122
What is the proposed translation for ; `Data-Driven` .. ?

[2019-07-14 10:27] Aissaoui-Ahmed commented on #122
<div dir="rtl">
مرحبا بالجميع <BR>
لدي إقتراح أتنمى أن ينال القبول من الجميع بخصوص القاموس وترجمة الكلمات التقنية الخاصة بالبرمجة، لكل منا جهود خاصة في الترجمة ومحاولة إثراء المحتوى العربي عموما، إلا أنه قد يجد إختلاف مع باقي المبرمجين ولا أعتقد أن  كل واحد منا قد مر بهذا الموقف وفي محاولة لتفادي الصدام أنشأت مستودع مع زميلي @celyes يخص الكلمات المتعلقة بالبرمجة ليكون مرجع نستند إليه.<br>
هذا المش

[2019-07-14 10:57] celyes commented on #122
لتفادي الاختلاط في المصطلحات التقنية، يرجى منكم ان الاطلاع على هذا المستودع:
[SoftVenue i18n](https://github.com/softvenue/i18n)
كما أن أي مساهمة فيه مرحب بها و تحياتنا للجميع
@SoftVenue

[2019-07-21 22:11] Aissaoui-Ahmed commented on #122
just suggestions

bug = خطأ
framework = أداة
log = سجل
release = إصدار
bind = ربط

[2019-07-22 02:32] Fcmam5 commented on #122
Hi Ahmed, some of these terms have other translations that everyone is using like:
bug = عِلّة or خطأ برمجي
framework = إطار عمل

And these ones seems to be the right translations:

[2019-07-22 12:10] 3imed-jaberi commented on #122
The last three words shouldn't be translated .. Leave it as is ...

[2019-07-22 13:47] Aissaoui-Ahmed commented on #1
Hi !
any page available

[2019-07-22 13:49] mohshbool commented on #1
hey @Aissaoui-Ahmed, you might wanna check out the 'Contributing' section or perhaps the Community issue #117

[2019-07-22 14:04] Aissaoui-Ahmed commented on #117
- [x] nav.yml

[2019-07-22 14:05] Aissaoui-Ahmed commented on #1
thank you @mohshbool

[2019-07-23 15:57] maskeddeveloper commented on #117
@iRayan7 i'll take Podcasts

[2019-07-23 18:51] Fcmam5 commented on #122
Style Guide = دليل التنسيق

[2019-07-23 22:50] 3imed-jaberi commented on #122
@Fcmam5
please bro , add this to glossary !

[2019-07-24 15:09] moast commented on #117
I'll take courses

[2019-07-24 15:09] moast commented on #117
@iRayan7  I'll take Courses

[2019-07-24 17:31] 3imed-jaberi commented on #117
Welcome @moast ,
Thank you for your interest in Arabic content.
You can start contributing via the attached steps in the [README.md](https://github.com/reactjs/ar.reactjs.org/blob/master/README.md) file.

[2019-07-25 11:12] moast commented on #117
@3imed-jaberi I translated Courses page and pushed it https://github.com/moast/ar.reactjs.org :)

[2019-07-25 12:28] 3imed-jaberi commented on #117
@moast , thnak you for your contribution ...
Please create a Pull Request. If you don't know how to do this follow this [video](https://www.youtube.com/watch?v=l5NrYIa_aG4) ..

[2019-07-25 12:38] 3imed-jaberi commented on #117
@moast , thank you for your contribution ...

You have created your PR. You can follow it via #148

[2019-07-25 17:53] moast commented on #117
Thanks!

[2019-07-30 19:45] tesseralis opened #153 "Add DocSearch"
Congrats on almost finishing the core Arabic translation! One of the final steps is to change the [DocSearch API key](https://github.com/reactjs/es.reactjs.org/blob/ed07fa53dc9ab7950e630900f7da3a7c821d63a6/src/components/LayoutHeader/DocSearch.js#L25). One of the maintainers needs to [sign up for DocSearch](https://community.algolia.com/docsearch/#join-docsearch-program) in order to do this.

[2019-07-30 20:23] Fcmam5 commented on #153
Hi @tesseralis, we already did that in #128

[2019-07-31 18:06] Fcmam5 commented on #122
TLDR;
Facebook => فيسبوك or Facebook
Instagram => Instagram
Web => ويب

Please translate `Facebook` as `فيسبوك` or keep it as it is. I know sometimes it causes some formatting issues if we keep it untranslated.

I found that it's translated as `فيس بوك` [here](https://ar.reactjs.org/community/conferences.html#react-native-eu-2019) which is not correct (please check Facebook's arabic pages)

َAlso,

[2019-07-31 22:21] 3imed-jaberi commented on #122
Instagram ==> انستقرام or Instagram or [check this for more details](https://ar.wikipedia.org/wiki/%D8%A5%D9%86%D8%B3%D8%AA%D8%BA%D8%B1%D8%A7%D9%85)
Facebook ==> فيس بوك or فيسبوك or Facebook or [check this for more details](https://ar.wikipedia.org/wiki/%D9%81%D9%8A%D8%B3%D8%A8%D9%88%D9%83)

Prove of FB:
![image](https://user-images.githubusercontent.com/43971542/62251891-7a308080-b3f1-11e9-928c-

[2019-07-31 22:21] 3imed-jaberi commented on #122
Instagram ==> انستقرام or Instagram or [check this for more details](https://ar.wikipedia.org/wiki/%D8%A5%D9%86%D8%B3%D8%AA%D8%BA%D8%B1%D8%A7%D9%85)
Facebook ==> فيس بوك or فيسبوك or Facebook or [check this for more details](https://ar.wikipedia.org/wiki/%D9%81%D9%8A%D8%B3%D8%A8%D9%88%D9%83)

Prove of FB:
![image](https://user-images.githubusercontent.com/43971542/62251891-7a308080-b3f1-11e9-928c-

[2019-08-02 01:53] #153 closed

[2019-08-02 19:19] Aissaoui-Ahmed commented on #117
i'll take
- [x] tools-jsx

[2019-08-04 15:52] Aissaoui-Ahmed commented on #117
- [x] tools-misc

[2019-08-12 02:09] Fcmam5 commented on #1
I will take `Implementation Notes`

[2019-08-14 10:33] AzizAK commented on #117
Hey guys,

Thanks for the GREAT work. I would like to help with translating (tools-starter-kits).

[2019-09-04 00:25] 3imed-jaberi commented on #122
dependencies ==> إعتمادات

[2019-09-13 13:42] mohdule commented on #1
I will translate the `Testing Overview` page

[2019-09-18 12:22] ahmdtalaat commented on #1
Half of the word "مجتمع المطورين"  is hiding behind the search bar, Would like to work on that

[2019-09-18 14:56] ahmdtalaat commented on #1
Hello Guys, so enthusiastic to begin, Shall We refactor Todo app in the tutorial to Function components (Hooks) ?

[2019-09-18 20:57] ahmdtalaat commented on #1
Anyone is working on /languages page ??

[2019-09-19 14:42] 3imed-jaberi commented on #1
@mohdule , you can take `Testing Overview` page.

[2019-09-19 14:44] 3imed-jaberi commented on #1
Do you mean `languages.yml` file !!

[2019-09-20 07:52] ahmdtalaat commented on #1
@3imed-jaberi I mean ar.reactjs.org/languages

[2019-09-20 16:36] 3imed-jaberi commented on #1
🚀 ..

[2019-09-22 23:01] mohdule commented on #1
Alright cool @3imed-jaberi, gonna get it done by next Sat hopefully

[2019-10-02 13:58] aladin002dz commented on #117
Translating community section is done, all PR reviewed and merged!
for anything wrong, please update ✌️

[2019-10-02 13:58] #117 closed

[2019-10-02 15:20] aladin002dz commented on #112
everything looks good, thanks for the great work all the team ✌️
please, for anything wrong update!

[2019-10-02 15:20] #112 closed

[2019-10-11 02:29] mohdule commented on #122
How should i translate `continuous integration`, should i translate it ?

[2019-10-11 15:54] asantarissy commented on #122
I did a quick research and found the following
* تركيب متواصل [Wikipedia][wiki]
* التكامل المستمر [meemapps.com][meemapps.com], [cloudworld.io][cloudworld.io]

Which one you think we should use?

[wiki]: https://ar.wikipedia.org/wiki/%D8%AA%D8%B1%D9%83%D9%8A%D8%A8_%D9%85%D8%AA%D9%88%D8%A7%D8%B5%D9%84
[meemapps.com]: https://www.meemapps.com/term/5a3da4e26178b74f704a4a80/Continuous%20Integration-ال

[2019-10-11 21:36] 3imed-jaberi commented on #122
I think `التكامل المستمر` is better .. !

[2019-10-25 19:46] Fcmam5 opened #192 "Must sync with reactjs.org"
Hello everyone,
Please notice that there are *many* pending PRs by @reactjs-translation-bot!
We must review, check the merge conflicts and retranslate what needs to be translated again, not only approving the PR!

Pending branches:
- [x] #170 -> @Fcmam5
- [x] #172 -> @Fcmam5
- [ ] #173 -> @Fcmam5
- [ ] #186 -> @3imed-jaberi
- [ ] #187
- [ ] #188
- [ ] #189 -> @3imed-jaberi
- [ ] #190
- [ ] #196 ->

[2019-10-26 14:58] mohamedsgap commented on #192
Hi @Fcmam5 , I really want to help and contribute in the translation!

[2019-10-26 15:08] mohamedsgap commented on #1
Hi @tesseralis and @3imed-jaberi I really want to contribute and translate any of the Testing ( New ) pages, please assign to me any page and I will translate it :)

[2019-10-26 15:17] mohamedsgap commented on #1
Is there  any opportunity to contribute in the translation and improve it ? @tesseralis

[2019-10-26 17:05] Fcmam5 commented on #192
Sure Mohamed! You are more than welcome :smiley: . You can start by revewing the pending PRs with us, or by fixing typos in the translated pages or (and pleaaase help me out with #163 :sob: If you want to, we can close this PR and you start fresh by working on a new one)

[2019-10-27 17:42] mohdule commented on #122
So, `mocking`
I translated it to `محاكاة`

لا ادري اذا كان هنالك كلمة أفضل
if it's ok, i think it should be added to the glossary
to help other people working on the testing pages

[2019-10-27 18:15] 3imed-jaberi commented on #1
@mohamedsgap ,  welcome 👋 !
It's good to meet enthusiastic people like you ❤️
You can start with ` Testing Recipes`  🚀 ..

[2019-10-27 22:40] forabi commented on #1
Hey everyone, do you have plans to translate the new concurrent mode pages? I can take a stab at this!

[2019-10-30 16:28] cdes commented on #1
I can help too 🌚

[2019-10-30 23:03] 3imed-jaberi commented on #1
@forabi @cdes 👋 ..
I would like to thank you for your interest ..
We are currently working to integrate (merge) all updates to our Arabic content and soon this section will be ready ...
Now, you can start with `Testing Environments` or `Design Principles`.
You can also help @Fcmam5 in #163 ...

[2019-11-06 00:51] #192 closed

[2019-11-08 16:58] 3imed-jaberi commented on #1
@Karamiq welcome 👋 ..
you can start with `Testing Recipes`  or ` Testing Environments`  🚀 ..

[2019-11-08 17:55] mohamedsgap commented on #1
@3imed-jaberi
I'm currently working on Testing Recipes

[2019-11-08 20:33] 3imed-jaberi commented on #1
@Karamiq , you can start with ` Testing Environments` 🚀 ..

[2019-11-10 08:18] cdes commented on #1
I'm working on `Design Principles`

[2019-11-10 15:06] 3imed-jaberi commented on #100
I think it is worth discussing this subject through SLACK ..
So, no need to keep this issue open ..

[2019-11-10 15:06] #100 closed

[2019-11-11 18:07] 3imed-jaberi commented on #122
Timer ?!
مؤقتات or عداد 🤔 !!

[2019-11-25 06:20] mohamedsgap commented on #1
@3imed-jaberi   @Aissaoui-Ahmed  I gonna work on Testing Environments!

[2019-11-28 05:44] mohamedsgap commented on #1
@3imed-jaberi  @Aissaoui-Ahmed @asantarissy  Hi guys! I finished translating Testing Environmnts, please review my pull request :)

[2019-11-28 08:25] asantarissy commented on #1
@cdes what's the status on this? 😃

[2019-12-01 00:48] mohamedsgap commented on #1
@3imed-jaberi  @Aissaoui-Ahmed  @tesseralis  @asantarissy  Hey guys :) I wonder if there ara any opporunities to contribute to more repos related to React to write a real code this time! or any available pages i noticed that Concurrent Mode ( New ) is created, one more thing how do I become one of React Community like you :)

[2019-12-03 07:34] mohamedsgap commented on #1
Hey guys! @asantarissy @iRayan7 @aladin002dz @Fcmam5 @mohshbool @3imed-jaberi @splimter please assign to me any page to translate it!

[2019-12-03 11:17] asantarissy commented on #1
Thanks @mohamedsgap, please pick a page/s and create a PR so I can assign you.

Enjoy 😊

[2019-12-06 08:25] mohamedsgap commented on #1
Hey guys! @asantarissy @iRayan7 @aladin002dz @Fcmam5 @mohshbool @3imed-jaberi @splimter I'm going to translate Release Channels!

[2019-12-06 10:37] Fcmam5 commented on #1
Good luck Mohamed 🚀 !

[2019-12-09 22:20] mohamedsgap opened #206 "sharp: Command failed. Exit code 1. While install dependencies using yarn on Ubuntu 18.04"
When I use Yarn to install dependencies I got this error:

OS: linux ubuntu 18.04
node -v: 12.13.1
npm -v OR yarn: npm: 6.12.1, yarn: 1.19.2

error /home/mohamedsgap/Development/open-source/ar.reactjs.org/node_modules/sharp: Command failed.
Exit code: 1
Command: (node install/libvips && node install/dll-copy && prebuild-install) || (node-gyp rebuild && node install/dll-copy)
Arguments:
Directory:

[2019-12-10 10:40] asantarissy commented on #206
I think your issue is user permission:
gyp WARN EACCES current user ("mohamedsgap") does not have permission to access the dev dir "/home/mohamedsgap/.cache/node-gyp/12.13.1"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/tmp/.node-gyp"

[2019-12-10 15:05] mohamedsgap commented on #206
@asantarissy how can i solve this issue? do you have any suggestions??

[2019-12-10 20:33] Aissaoui-Ahmed commented on #206
PLZ more info!
OS:
node -v:
npm -v OR yarn:

[2019-12-11 03:39] mohamedsgap commented on #206
@Aissaoui-Ahmed
OS: linux ubuntu 18.04
node -v: 12.13.1
npm -v OR yarn: npm: 6.12.1, yarn: 1.19.2

[2019-12-11 11:42] Fcmam5 commented on #1
I will take "Introducing Concurrent Mode"

[2019-12-11 22:01] Fcmam5 commented on #206
I had the same issue, I fixed it by removing node

[code]

Then I reinstalled the version 10 using snap:

`sudo snap install node --classic --channel=10`

[2019-12-11 22:40] Aissaoui-Ahmed commented on #206
@mohamedsgap try
switch to v10.16.0 with NVM: `nvm use 10.16.0`
delete node_modules: `rm -rf node_modules`
install package: `npm install`

[2019-12-12 02:47] mohamedsgap commented on #1
I gonna work on ''Suspense for Data Fetching''  @asantarissy @iRayan7 @aladin002dz @Fcmam5 @mohshbool @3imed-jaberi @splimter  @Aissaoui-Ahmed

[2019-12-12 03:04] mohamedsgap commented on #206
Thanks a lot guys :) @Fcmam5  @Aissaoui-Ahmed  the issue is solved, I followed @Fcmam5 's steps

[2019-12-12 03:04] #206 closed

[2019-12-18 12:56] cdes commented on #1
I'm unable to work on it. Sorry.

[2019-12-18 22:13] Fcmam5 commented on #122
Please, what translation should we use for "Concurrent mode" ?

- وضع متزامن
- وضع تنافسي

For the first suggestion it was applied by Arabyes team: https://www.arabeyes.org/techdict:Concurrent, and in some Hsoub translations as `المهام الفرعية (Threads، وتدعى "الخيوط" أيضًا) هي الطريقة التي تنفذ بها روبي البرمجة المتزامنة (concurrent programming). البرامج التي تتطلب تنفيذ عدة مهام فرعية يمكنها است

[2019-12-18 22:48] Aissaoui-Ahmed commented on #122
<div dir=rtl>
أقتراح 'وضع توافقي'

[2019-12-28 23:06] mohamedsgap commented on #1
I've just finished translated the most challenging page I've ever translated "Suspense for data fetching", I need your review, guys! :)
@asantarissy @iRayan7 @aladin002dz @Fcmam5 @mohshbool @3imed-jaberi @splimter @Aissaoui-Ahmed

[2020-01-02 21:49] atefBB commented on #122
<div dir="rtl">أقترح استعمال مصطلح "خادوم" للتعبير عن الـserver ﻷن هذه الكلمة على وزن فاعول الذي يأتي في اللغة العربية ﻷسماء اﻵلات ومنه "قادوم" واستعمل حديثا في ترجمة "حاسوب".</div>

[2020-01-04 23:29] HassanMuhamad commented on #1
I'm working on " Concurrent UI Patterns" documentation. ⌨️

[2020-01-04 23:39] mohamedsgap commented on #1
@HassanMuhamad great choice, Hassan! keep going and I will follow you up with  'Adopting Concurrent Mode' after my current PR's been merged!

[2020-01-05 18:38] hassan commented on #1
The line above: `Concurrent UI Patterns (@hassan Muhamad)` incorrectly tags me; can the author correct? Sorry, I don't speak Arabic 😞

[2020-01-05 19:05] asantarissy commented on #1
Thanks @hassan for the heads-up 😊

[2020-01-06 20:48] heithemmoumni commented on #1
I will take "Implementation Notes" and "Design Principles"

[2020-01-06 20:52] heithemmoumni commented on #1
I will take "Implementation Notes"

[2020-01-06 21:26] atefBB commented on #1
Welcome to @all newcomers!

[2020-01-07 20:31] atefBB commented on #122
<div dir="rtl">اختصارا للمجهود وحسما لاختلاف الترجمات، اقترح استعمال القاموس التقني لمشروع عرآبياز (<a href="https://www.arabeyes.org/%D8%A7%D9%84%D9%82%D8%A7%D9%85%D9%88%D8%B3_%D8%A7%D9%84%D8%AA%D9%82%D9%86%D9%8A">الرابط</a>)، فقد بُذل فيه مجهود وهو شامل تقريبا.</div>
@3imed-jaberi @Aissaoui-Ahmed @celyes واﻵخرين

[2020-01-15 00:58] MaherAlshaar commented on #122
i hope you all the Best

[2020-01-15 01:04] MaherAlshaar opened #222 "translate"
why you translated state and component
i think y'd better don't translate the names and keep without translation to learn easily
that's my opinion
all the best

[2020-01-15 01:24] mohamedsgap commented on #1
Hi guys,
@3imed-jaberi, @Aissaoui-Ahmed, @aladin002dz, @asantarissy and @Fcmam5
just finished translating 'Adopting Concurrent Mode' I need your review :)

[2020-01-15 01:30] mohamedsgap commented on #1
I gonna translate a new page "Concurrent Mode API Reference" @tesseralis

[2020-01-18 11:34] 3imed-jaberi commented on #222
The content should be Arabic and we was leave the words some kind antics in English ...
Thank you @MaherAlshaar, and we will try to take what you said as possible ...

[2020-01-18 11:34] #222 closed

[2020-04-07 07:38] bdhhzamb opened #241 "https://youtu.be/TejNgSwEf3E"
Starofyenen

[2020-04-07 07:38] bdhhzamb commented on #241
Okokokok

[2020-04-07 07:38] bdhhzamb commented on #241
Ok

[2020-04-07 09:29] #241 closed

[2020-04-22 16:13] 3imed-jaberi commented on #122
Fallback ===> fallback or احتياطي or  both `احتياطي (fallback)` ??

ping @reactjs/reactjs-org-arabic-translation !!

[2020-08-16 23:06] YassinHussein commented on #1
Hi guys, I would like to translate "Concurrent UI Patterns" page

[2020-08-16 23:20] asantarissy commented on #1
Thank you for joining the team @YassinHussein, please go ahead I'll assign the page to you.

* [ ] Read this issue
* [ ] Check our [Glossary](https://github.com/reactjs/ar.reactjs.org/wiki/Glossary) and [Style Guide](https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md)
* [x] Pick a page to translate
* [ ] Create a [PR](https://github.com/reactjs/ar.reactjs.org/pulls)
* [

[2020-10-06 04:34] momosetti opened #268 "Concurrent mode page isnt yet translated"

[2020-10-06 05:52] asantarissy commented on #268
@momosetti thank you please feel free to pick a page from #1 and start working on it 🚀

[2020-10-06 05:52] #268 closed

[2021-05-17 16:33] maqalaqil commented on #1
I would love to take a page please assign me whatever is available   Versioning Policy || profiler API

[2021-05-17 17:12] 3imed-jaberi commented on #1
Welcome @maqalaqil 👋🏻, it's yours.

[2021-05-19 15:02] maqalaqil commented on #1
Thank you :D

[2021-05-19 15:09] tech-chieftain commented on #1
Hey all, would love to help you guys with this. Can you assign Implementation Notes & Design Principles to me?

[2022-01-23 13:46] mriiad commented on #1
Hi guys,
I would like to translate 'Implementation Notes' page, would it be possible to assign it to me please ?
@3imed-jaberi @Aissaoui-Ahmed, @aladin002dz, @asantarissy, @Fcmam5
Thank you!

[2022-01-23 15:30] 3imed-jaberi commented on #1
Hello @mriiad, Sure you can take it. You need to submit a PR.

[2022-01-23 15:32] 3imed-jaberi commented on #1
Hello @tech-chieftain @maqalaqil @YassinHussein,

Are there any updates about the pages you took?

[2022-01-23 16:47] mriiad commented on #1
Hello again @3imed-jaberi

Thanks for the quick reply, here's the PR associated to this task https://github.com/reactjs/ar.reactjs.org/pull/372

Could you just add all the suitable labels and assign yourself as a reviewer please ?

Thank you!

[2022-01-25 09:00] tech-chieftain commented on #1
Hey @3imed-jaberi, as Implementation Notes was assigned to @mriiad I can still work on Design Principles. Can you please assign it to me so others can focus on other pages? It will be ready in the next couple of days. Thanks

[2022-01-25 09:02] maqalaqil commented on #1
Hey @3imed-jaberi ill have the PR ready today.

[2022-04-12 23:10] ahmed-abdulhuy commented on #1
Hi guys,
I would like to translate the 'how to contribute' [#branch-organization](https://ar.reactjs.org/docs/how-to-contribute.html#branch-organization) & [#feature-flags](https://ar.reactjs.org/docs/how-to-contribute.html#feature-flags) page would it be possible to assign it to me, please?
Thank you!

[2022-04-14 02:17] Aissaoui-Ahmed commented on #1
@ahmed-abdulhuy you can open PR
Thank you for your contribution

[2022-04-14 15:55] ahmed-abdulhuy commented on #1
I would like to translate the 'Profiler API'  page would it be possible to assign it to me, please?
Thank you!

[2022-07-09 16:48] 3imed-jaberi commented on #1
@tech-chieftain @maqalaqil, if you take any page please open a draft pr to help me to assign it to you!

[2022-08-07 12:20] yousefelgoharyx opened #413 "Sync the beta docs"
Could you sync with the beta docs so we could start on translating? If you are worried about the rtl layout, I have an active pull request that makes the beta docs multi-directional ->  #4739 on the main repo

[2022-08-11 11:09] yousefelgoharyx commented on #413
Is this repo active?

[2022-08-11 11:30] 3imed-jaberi commented on #413
Hello @yousefelgoharyx, yes this repo is active!

Currently, we can't do that because the beta release is still in progress and we need it to be done then we can start.
I appreciate your interest and I will notify you when we start ...

[2022-08-11 11:41] yousefelgoharyx commented on #413
Many translations have already started and have been deployed for that matter... I think it would be better if we start early so that people won't have to wait for us after the beta docs get released

[2022-08-19 15:02] yousefelgoharyx commented on #413
I wish we could start early so that the translation would be ready by the time the beta docs gets released

[2022-10-09 18:47] Sebastianoskiojoj commented on #1
b1-2283a18c-b2a2-4dd2-ac5c-d4563dd8ce46